
		
<%- include('./partials/Header.ejs'); %>
<%- include('./partials/Sidebar.ejs'); %>

		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
			
				<div class="d-flex flex-wrap mb-2 align-items-center justify-content-between">
					<div class="mb-3 mr-3">
						<h6 class="fs-16 text-black font-w600 mb-0"><%=users.length %> Total Users</h6>
						<span class="fs-14">Based your preferences</span>
					</div>
			
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div class="tab-content">
							<div id="All" class="tab-pane active fade show">
								<div class="table-responsive">
                                    <table id="example2" class="table card-table display dataTablesCard">
										<thead>
                                            <tr>
                                                <th>User ID</th>
                                             
                                                <th>First Name</th>
                                                <th>Last Name </th>
                                                <th>Email </th>
												<th>Date</th>
                                               
                                                <th>Referrals</th>
                                            </tr>
                                        </thead>
										<tbody>
											<%users.forEach((user) => {%>
											<tr>
												<td>#0012451</td>
												<td></td>
												<td><span class="text-nowrap">The Story of Danau Toba<br> (Musical Drama)</span></td>
												<td>Bella Simatupang</td>
												<td>London, US</td>
												<td>1 Pcs</td>
												<td>567k left</td>
												<td><strong class="text-black">NO</strong></td>
												<td><a href="javascript:void(0)" class="btn btn-primary btn-sm light">$125,70</a></td>
											</tr>
											<% })%>
										</tbody>
									</table>
								</div>
							</div>
					
						</div>
					</div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2021</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/dashboard/vendor/global/global.min.js"></script>
	<script src="/dashboard/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="/dashboard/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="/dashboard/js/custom.min.js"></script>
	<script src="/dashboard/js/deznav-init.js"></script>
	
	<!-- Datatable -->
    <script src="/dashboard/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script>
		(function($) {
			var table = $('#example2').DataTable({
				searching: false,
				paging:true,
				select: false,
				//info: false,         
				lengthChange:false 
				
			});
			var table = $('#example3').DataTable({
				searching: false,
				paging:true,
				select: false,
				//info: false,         
				lengthChange:false 
				
			});
			var table = $('#example4').DataTable({
				searching: false,
				paging:true,
				select: false,
				//info: false,         
				lengthChange:false 
				
			});
			var table = $('#example5').DataTable({
				searching: false,
				paging:true,
				select: false,
				//info: false,         
				lengthChange:false 
				
			});
			$('#example tbody').on('click', 'tr', function () {
				var data = table.row( this ).data();
				
			});
		})(jQuery);
	</script>
</body>
</html>