<div class="page-wrapper">
  <div class="site-header__header-one-wrap clearfix">
    

    <header class="main-nav__header-one">
      <div class="container">
        <nav class="header-navigation one stricky ">
          <div class="container-box clearfix">
            <div class="header_top_one_logo float-left">
              <a href="/"
                ><img
                  src="/logos/image3.png"
                  height="80px"
                  width="90px"
                  alt="image"
              /></a>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="main-nav__left main-nav__left_one float-left">

              <a href="#" class="side-menu__toggler">
                <i class="fa fa-bars"></i>
              </a>
             
              <div class="main-nav__main-navigation one clearfix">
                <ul class="main-nav__navigation-box float-left">

                  <li>
                    <a href="/">Home</a>
                    <!-- /.sub-menu -->
                  </li>

                  <li><a href="/about">About Us</a></li>

                  <li>
                    <a href="/listing">Property Listing</a>
                  </li>

                 
                  <li>
                    <a href="/contact">Become A Partner</a>
                  </li>

                  <%if(authenticated) {%>
                  <li>
                    <a href="/dashboard">Dashboard</a>
                  </li>

                  <% }%> <%if(!authenticated) {%>
                  <li>
                    <a href="/login">Login</a>
                  </li>

                  <% }%>

                  <li>
                    <a href="/contact">Contact</a>
                  </li>
                </ul>
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <div class="main-nav__right main-nav__right_one float-right">
              <div class="icon_search_box">
                <a href="/contact"  style="" class="btn btn-outline-primary thm-btn" >BECOME A PARTNER</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </div>
</div>
