
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
				<a href="javascript:void(0)" class="add-menu-sidebar" data-toggle="modal" data-target="#addOrderModalside" >+ New Event</a>
				<ul class="metismenu" id="menu">
                    <li><a class=" ai-icon" href="/admin-panel" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Dashboard</span>
						</a>
                        <!-- <ul aria-expanded="false">
							<li><a href="index.html">Dashboard</a></li>
							<li><a href="event.html">Event</a></li>
							<li><a href="event-detail.html">Event Detail</a></li>
							<li><a href="customers.html">Customers</a></li>
							<li><a href="analytics.html">Analytics</a></li>
							<li><a href="reviews.html">Reviews</a></li>
						</ul> -->
                    </li>
                    <li><a class="ai-icon" href="/admin-panel/" aria-expanded="false">
							<i class="flaticon-381-television"></i>
							<span class="nav-text">Properties</span>
						</a>
                     
                    </li>
                
                    <li><a href="widget-basic.html" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-settings-2"></i>
							<span class="nav-text">Profile</span>
						</a>
					</li>
               
                </ul>
				<div class="copyright">
					<p><strong>KelkeyGlobal </strong> © 2021 All Rights Reserved</p>
					<!-- <p>Made with <span class="heart"></span> by DexignZone</p> -->
				</div>
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
		